COGNITO_CLIENT_ID=
COGNITO_CLIENT_SECRET=
LEADERBOARD_TABLE=
# WebSocket management endpoint (no trailing /@connections)
WEBSOCKET_ENDPOINT=https://gdjtdhxwkf.execute-api.eu-north-1.amazonaws.com/production
